@{
    ViewBag.Title = "Home Page";
}

<h1>The World</h1>
<p>Coming soon...</p>

<form>
    <div>
        <label>Date</label>
        <input/>
    </div>
    <div>
        <label>Location</label>
        <input/>
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-primary btn-sm"/>
    </div>
</form>
   