/*site.css*/
/*body {
  font-family: 'Segoe UI Light';
  font-size: 14px;
  margin: 0;
}*/

#wrapper {
  margin: 0 0 0 250px;
  -ms-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
}

#wrapper.hide-sidebar {
  margin-left: 0;
  -ms-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
}

/*label {
  font-weight: bold;
  display: block;
}*/

/*input[type=text], input[type=password], textarea {
  width: 150px;
}*/

input[type=submit] {
  width: auto;
}

/*#main {
  background-color: #eee;
  padding: 4px;
  margin: 0;
}

#footer {
  background-color: #222;
  color: #eee;
  padding: 8px 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}*/

#sidebar {
  background: #2a2c36;
  color: #eee;
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: hidden;
  left: 0;
  margin: 0;
  -ms-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;
}

#sidebar.hide-sidebar {
  left: -250px;
  -ms-transition: left ease .25s;
  -o-transition: left ease .25s;
  -webkit-transition: left ease .25s;
  transition: left ease .25s;
}

.profilepic {
  max-width: 50px;
  border: 1px solid #222;
  padding: 3px;
}

.menu {
}

.menu li {
  list-style-type: none;
}

.menu li.active {
  font-weight: bold;
}
